body {
  background-color: black;
  margin: 0;
}

#display {
  width: 640px;
  height: 320px;
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
