/*@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);*/

body {
  margin: 0;
  font-family: "Consolas", "Lucida Console", "Liberation Mono";
  background: #262626;
  color: #46FF00;
}

a {
  color: #46FF00;
}

a:visited {
  color: #46FF00;
}

.container {
  margin: 0 auto;
  width: 330px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#display {
  width: 320px;
  height: 320px;

  background: #262626;
  border: 5px solid;
  padding: 5px;
  box-sizing: border-box;
}

.storage {
  width: 315px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.controls {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.key {
  width: 90px;
  padding: 5px;
  margin: 5px 5px;
}

.subtitle {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
}

#rom-selector {
  width: 160px;
  height: 32px;
}

#rom-uploader {
  display: none;
}

uploader-label {
  cursor: pointer;

}

pre {
  margin: 5px 0;
  padding: 10px;
  white-space: pre-wrap;
  display: block;
  border: 1px solid;
  font-family: "Share Tech Mono";
}

.keybindings {
  display: inline-block;
  width: 200px;
  float: left;
}

.keybindings table tr td {
  padding: 14px 14px;
  border: 1px solid;
}

.tweak {
  display: inline-block;
  width: 375px;
  float: right;
}

.tweak-header {
  cursor: help;
}
