{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  // To give you an idea how to override rule options:
  "rules": {
    "eol-last": [0],
    "no-mixed-requires": [0],
  }
}
