@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

body {
  margin: 0 auto;
  width: 700px;
  font-family: "Share Tech Mono";
  background: #262626;
  color: #46FF00;
}

a {
  color: #46FF00;
}

a:visited {
  color: #46FF00;
}

#display {
  width: 640px;
  height: 320px;
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

.subtitle {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 700px;
  margin: 0 auto;
  background: #262626;
  border: 1px solid;
}

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  width: 700px;
}

pre {
  margin: 5px 0;
  padding: 10px;
  white-space: pre-wrap;
  display: block;
  border: 1px solid;
  font-family: "Share Tech Mono";
}

.keybindings {
  display: inline-block;
  width: 200px;
  float: left;
}

.keybindings table tr td {
  padding: 14px 14px;
  border: 1px solid;
}

.tweak {
  display: inline-block;
  width: 375px;
  float: right;
}

.tweak-header {
  cursor: help;
}

/*
  Credit Notice
  Button styles were originally written as "Simple Button Styles" by Simon Busborg: http://codepen.io/simonbusborg/pen/cyxad
*/

.button {
  border: 0 none;
  border-radius: 36px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 12px 45px;
  text-transform: none;
  -webkit-transition: all 100ms ease-in-out;
          transition: all 100ms ease-in-out;
  width: auto;
  text-align: center;
}

.button:hover {
  opacity: .7;
}

.button.--light {
  background: #ecf0f1;
  color: #34495e;
}

.button.--red {
  background: #e74c3c;
  color: #FFFFFF;
}

.button.--green {
  background: #4ac15a;
  color: #FFFFFF;
}